.expedite
{
    font-family: Arial;
    font-size: 16pt;
    user-select: none;
    display: inline;
}

.expedite span
{
    padding: 0.0em;
    margin: 0.02em;
    cursor: pointer;
    text-shadow: 0px 0px 1px gray;
    text-align: center;
}

.expedite span:hover
{
    text-shadow:0px 0px 4px black;
}

.expedite input
{
    padding: 0.0em;
    margin: 0.02em;
    cursor: pointer;
    text-shadow: 0px 0px 1px gray;
    text-align: center;
    border: none;
}

.expedite input:hover
{
    text-shadow:0px 0px 4px black;
}

.expedite .expedite-paren
{
    color: #c724d8;
}

.expedite .expedite-inner-highlight
{
}

.expedite .expedite-outer-highlight
{
    text-shadow:0px 0px 4px black;
}

.expedite .expedite-operator
{
    color: #228833;
    padding: 0.2em;
    font-size: 85%;
}

.expedite .expedite-number
{
    color: #1db4d6;
    font-size: 85%;
}

.expedite .expedite-variable
{
    color: #a10501;
    font-size: 100%;
}

.expedite-popup
{
    display: none;
    position: fixed;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    padding: 0.1em;
}

.expedite-popup .expedite-operator
{
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em;
}
